@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* Custom Styles */
@import './styles.css';

.card-front.bounce {
  animation: bounceAnimation 0.3s linear;
}

@keyframes bounceAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.footer {
  z-index: 9999;
}

.skill-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #2c2525;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  position: relative;
}

.skill-tile:hover {
  transform: scale(1.1);
}

.skill-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  z-index: 1;
}

.progress-bar {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hovered .progress-bar path {
  transition: stroke-dashoffset 0.5s ease-in-out;
}

.skills-container {
  display: flex;
  justify-content: center;
}
